@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">In the joy of others lies our own</h1>
        <h1 class="display-4">  Sympathy for the poor, the downtrodden, even unto death - this is our motto.  </h1>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
